.h1 {
  max-width: 50vw;
}

.jar {
  border: 2px solid black;
  margin: 20px;
  width: 50vw;
  font-size: 28px;
  background: lightcyan;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  justify-self: center;
}
.cookie {
  color: brown;
  align-self: center;
  cursor: pointer;
}

.hidden {
    display: none
}

button {
  font-size: 24px;
  max-width: 100px;
}

.wrapper{
  display: flex;
  flex-direction: column;
}

#playerBanner {
  font-size: 30px;
  color: black;
}

#finished {
  border: 5px solid black;
  font-size: 35px;
  color: red;
width: 35%
}

.instructions {
  font-size: 22px;
}