.custom-node {
  background: #fff;
  border: 2px solid #888;
  border-radius: 6px;
  padding: 12px;
  min-width: 120px;
  text-align: center;
  position: relative; /* Important */
  min-height: 40px;
  overflow: visible; /*callow children to render fully*/
  z-index: 10;
  cursor: pointer;

}

.custom-node-label {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.node-input {
  width: 100%;
  font-size: 14px;
  padding: 4px;
  border: 1px solid #aaa;
  border-radius: 4px;
  
}
