body {
  background-color: darkgray;
}

.wrapper {
  margin: 25px 4px;
  border: 4px solid brown;
  background: palegoldenrod;
  height: 80vh;
}

.wrapper2 {
  border: 4.5px solid black;
}

.delius-swash-caps-regular {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}


.h1 {
  margin: 10vw;
  max-width: 50vw;
  padding-left: 10vw;
}


.jar {
  border: 4px solid black;
  border-radius: 10px;
  padding: 1vw;
  margin: 1vh;
  height: 8vh;
  width: 70vw;
  font-size: 28px;
  background: lightcyan;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  }

  span {
   float: left;
  }
.cookie {
  color: brown;
  align-self: center;
  cursor: pointer;
  font-size: 36px;
}

.hidden {
    display: none
}

button {
  font-size: 24px;
  width: 180px;
  margin-left: 30vw;
  border-radius: 20px;
  background-color: lightcyan;
  border: 3px black solid;
  
}

.wrapper{
  display: flex;
  flex-direction: column;
}

#playerBanner {
  font-size: 30px;
  color: black;
  margin-top: 2vh;
}

#finished {
  border: 5px solid black;
  font-size: 35px;
  color: red;
width: 35%
}

.instructions {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  margin: 2vh
}

.selected {
  border-radius: 20px;
  background: rgb(105, 42, 22);
  color: white;
}